<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/bootstrap.css">
    <script src="../bootstrap/jquery-3.2.1.min.js"></script>

</head>
<body style="height: 100%">
<div class="jumbotron" style="text-align: center; height: 100%">
    <h1>错误提示</h1>
    <p>很抱歉，数据不存在请刷新重试！</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">主页</a></p>
</div>

<script>
    setTimeout(function () {
        window.location.href = document.referrer;

    },3000);
</script>

</body>
</html>