<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="bootstrap/jquery-3.2.1.min.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap/bootstrap.offcanvas.min.css">
    <script src="../bootstrap/bootstrap.offcanvas.min.js"></script>
    <link rel="stylesheet" href="../css/toup.css">


</head>


<body style="background-color: #efefef">
<div th:insert="~{navigation :: nav}"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">

            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="container">
                        <div>
                            <div>
                                <div>
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item"><a class="post-tag" href="/category/java">Java</a>
                                        </li>
                                        <li class="list-inline-item"><a class="post-tag"
                                                                        href="/category/python">Python</a></li>
                                        <li class="list-inline-item"><a class="post-tag"
                                                                        href="/category/job-hunting">求职</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- posts list -->
                <div id="post-list">
                    <ul class="list-group list-custom-corner">
                        <li class="list-group-item side-borderless last-border">
                            <div class="media" th:each="lists : ${ls}" style="margin-top: 30px;">

                                <div class="media-left media-middle">
                                    <a href="/user/1">
                                        <img class="media-object img-rounded" alt="profile_pic"
                                             width="240px" height="146px" th:src="${lists.getCovers()}"></a>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">

                                        <a class="post-title" th:href="@{'question/'+${lists.getId()}}"
                                           th:text="${lists.getTitle()}" style="font-size: 20px;"></a>
                                    </div>
                                    <div class="media-body">
                                        <p style="color: #666" th:text="${lists.getSynopsis()}"></p>

                                    </div>
                                    <div class="media-bottom" style="margin-top: 50px;">
                                        <a class="post-tag" href="/category/python" th:text="${lists.getTag()}"></a>
                                        <a class="post-user" href="/user/1" th:text="${lists.getUser()}"></a>
                                        <span class="post-date" th:text="${lists.getTime()}"></span>
                                    </div>
                                </div>
                                <hr>
                                <!--                                <div class="media-right media-middle">-->
                                <!--                                    <div class="badge">3</div>-->
                                <!--                                </div>-->
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- pagination -->
                <div class="text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-centered">

                            <li class="hidden">
                                <a href="?p=0" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>

                            <li th:each="i:${#numbers.sequence(1,p.getAPage())}">
                                <a th:text="${i}" name="pagel" th:href="@{/(pagel=${i})}"></a>
                            </li>

                            <li>
                                <a href="?p=2" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
                <!-- end pagination -->

            </div>
        </div>

    </div>
</div>



<div th:insert="~{totop :: copy}"></div>





</body>
</html>