<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../bootstrap/jquery-3.2.1.min.js"></script>
    <script src="../bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/jq-paginator.js"></script>


</head>


<body style="background-color: #efefef">
<div th:insert="~{navigation :: nav}"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">

            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="container">
                        <div>
                            <div>
                                <div>
                                    <ul class="list-unstyled list-inline">
                                        <!--<先预留-->
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- posts list -->
                <div id="post-list">
                    <ul class="list-group list-custom-corner">
                        <li class="list-group-item side-borderless last-border">
                            <div class="media" style="margin-top: 30px;">

                                <div id="divdata"></div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="demo customBootstrap" style="text-align: center">
    <ul id="demo2" class="pagination"></ul>
</div>

<div th:insert="~{totop :: copy}"></div>


<script>
    $(function () {

        $.ajax({
            cache: true,
            type: "post",
            url: "/index",
            data: {},
            dataType: "json",
            success: function (data) {
                console.log(data.total)

                $('#demo2').jqPaginator({

                    totalCounts: data.total, //总数据
                    pageSize: 10,//每页显示的数目
                    //totalPages: 100, //总页码
                    visiblePages: 5, //设置最多显示的页码数
                    currentPage: 1,

                    first: '<li class="first"><a href="javascript:void(0);">First</a></li>',
                    prev: '<li class="prev"><a href="javascript:void(0);">Previous</a></li>',
                    next: '<li class="next"><a href="javascript:void(0);">Next</a></li>',
                    last: '<li class="last"><a href="javascript:void(0);">Last</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num) {
                        $.ajax({
                            cache: true,
                            type: "post",
                            url: "/index",
                            data: {"pagenum": num},
                            dataType: "json",
                            success: function (data) {
                                var datalength = data.publicEntities.length;
                                var str = "";

                                for (var i = 0; i < datalength; i++) {


                                    str += "<div class='media-left media-middle'>" +
                                        "<img style='height: 146px;width: 240px' class='media-object img-rounded' alt='profile_pic' src='" + data.publicEntities[i].covers + "'" + ">" +
                                        "</div>" +

                                        "<div class='media-body'>" +

                                        "<div class='media-heading'>" +

                                        "<a class='post-title' href= 'question/ " + data.publicEntities[i].id + " ' " + ">" + data.publicEntities[i].title + "</a>" +

                                        "</div>" +

                                        "<div class='media-body'>" +

                                        "<p style='color: #666'>" + data.publicEntities[i].synopsis + "</p>" +

                                        "</div>" +

                                        "<div class='media-bottom'style='margin-top: 50px;'>" +

                                        "<a class='post-tag'>" + data.publicEntities[i].tag + "</a>" +

                                        "<a class='post-user'>" + data.publicEntities[i].user + "</a>" +
                                        "<span class='post-date'>" + data.publicEntities[i].time + "</span>" +
                                        "</div>" +

                                        "</div>" +

                                        "<hr>"

                                }
                                document.getElementById("divdata").innerHTML = str;

                            }
                        })
                    }
                })
            }
        })
    })


</script>


</body>
</html>