<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/editormd.min.js"></script>
    <link rel="stylesheet" href="../css/editormd.min.css">
    <script src="../lib/prettify.min.js"></script>
    <script src="../lib/marked.min.js"></script>
    <script src="../bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/toup.css">
    <script src="../js/ajax.js"></script>


</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div style="text-align: center"><h1><span th:text="${c.getTitle()}"></span></h1></div>
            <div>


            </div>
            <hr>
            <div id="test-markdown-view">

                <textarea style="display:none;" th:text="${c.getContent()}"></textarea>

            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <span>回复列表</span>
        <div class="col-md-12 col-sm-12 col-lg-12">
            <ul class="media-list" th:each="reply : ${replys}" style="margin-top: 75px;">
                <li class="media">
                    <div class="media-left">
                        <a href="#">

                            <img th:src="${reply.getAvatar()}" alt="头像" class="img-circle image-responsive"
                                 style="width: 50px;">
                        </a>
                    </div>

                    <div class="media-body">
                        <a class="media-heading" style="color: #6d757a;" th:text="${reply.getUsername()}">留言的用户名</a>
                        <p style="line-height: 20px;padding: 2px 0;font-size: 14px;
                        text-shadow: none;overflow: hidden;word-wrap: break-word;
                        word-break: break-word;" th:text="${reply.getReplyContent()}"></p>
                        <span th:text="${reply.getReplyTime()}" style="color: #99a2aa;font-size: 12px;"></span>
                    </div>
                </li>
                <hr>
            </ul>


        </div>
    </div>

    <div class="row" style="margin-top: 300px;">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <form method="post" th:action="@{'/reply/'+${c.getId()}}" id="reply">
                <div><h1>回复</h1></div>
                <input th:value="${c.getTitle()}" name="title" type="hidden" id="title">
                <div class="editormd" id="test-editormd">

                    <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc"
                              id="text1"></textarea>
                    <!--                    &lt;!&ndash; 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 &ndash;&gt;-->
<!--                    <textarea class="editormd-html-textarea" name="editormd-html-textarea" id="htmlContent"></textarea>-->
                </div>


            </form>
            <button  class="btn btn-info" style="margin-left: 100%;margin-top: -10%;">回复</button>
        </div>
    </div>


    <div>
    </div>

</div>
<script>

    var testView = editormd.markdownToHTML("test-markdown-view", {
        // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
        // htmlDecode : true,  // Enable / disable HTML tag encode.
        // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
    });


    $(function () {

        editormd("test-editormd", {
            autoFocus: false,
            width: "100%",
            height: 640,
            syncScrolling: "single",
            //你的lib目录的路径，我这边用JSP做测试的
            tocm: true, // Using [TOCM]
            tex: true, // 开启科学公式TeX语言支持，默认关闭
            flowChart: true, // 开启流程图支持，默认关闭
            path: "/lib/",
            //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
            saveHTMLToTextarea: true,
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/files/upload",
            emoji: false,
            onload: function () {
                //console.log('onload', this);
                //this.fullscreen();
                //this.unwatch();
                //this.watch().fullscreen();
                this.width("100%");
                this.height(480);
                //this.resize("100%", 640);
            }

        })

    })


</script>



<script type="text/javascript">



        $(".btn").unbind('click').bind('click',function(){

            $("#reply")[0].reset();



            alert(1);
            var text = $("#text").val();
            var pwd = $("#pwd").text();
            var text1 = $('#text1').val();
            var title = $('#title').val();

            var reply = $("#reply").attr("action");
            if (text1 == null || text1 == ""){
                alert("请输入回复内容")
            }else {
                $.ajax({
                    cache: true,
                    type: "POST",
                    url: reply,

                    data: {
                        "text": text,
                        "pwd": pwd,
                        "text1": text1,
                        "title": title

                    },

                    dataType: "json",

                    success: function (data) {

                        if (data.result == "success") {

                            alert("成功")
                            window.location.reload();
                        } else {
                            alert("失败")
                        }
                    }

                })


            }




            
        })


</script>


<div th:insert="~{totop :: copy}"></div>
</body>
</html>