<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>翻转式用户登录注册界面设计</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script src="../bootstrap/jquery-3.2.1.min.js"></script>

    <!--[if IE]>
    <script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body style="background-image: url(../img/back.jpg);">
<div class="jq22-container" style="padding-top:100px">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
            In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">

                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">用户名</label>
                        <input id="username" type="text" class="input" name="username">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">密码</label>
                        <input id="password" type="password" class="input" data-type="password" name="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In" id="submit">

                    </div>
                    <div class="hr"></div>

                </div>


                <form>

                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">用户名</label>
                            <input id="user" type="text" class="input" name="username">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">密码</label>
                            <input id="pass" type="password" class="input" data-type="password" name="password">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">确认密码</label>
                            <input id="pass2" type="password" class="input" data-type="password" name="password2">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">邮箱地址</label>
                            <input id="email" type="text" class="input" name="email">
                        </div>
                        <div class="group">
                            <input id="sign_up" type="submit" class="button" value="Sign Up">
                        </div>
                        <div class="hr"></div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        //登录验证
        $("#submit").click(function () {
            var username = $("#username").val();
            var password = $("#password").val();
            $.ajax({
                cache: true,
                type: "POST",
                url: "/sign_in",
                dataType: "json",

                data: {
                    "username": username,
                    "password": password
                },
                success: function (data) {
                    if (data.result == "succeed") {
                        console.log(data.result);
                        window.location.replace("/")
                    }

                    if (data.result == "fail") {
                        alert("登录失败，请检查账号或密码")
                    }


                },
                error: function () {
                    console.log("调用失败")
                }
            })
        });
    })

</script>

<script>
    //注册验证

    $("#sign_up").click(function () {



        var name = $("#user").val();
        var pwd = $("#pass").val();
        var pwd2 = $("#pass2").val();
        var email = $("#email").val();

        $.ajax(
            {
                cache: true,
                type: "POST",
                url: "/sign_up",
                dataType: "json",
                data: {
                    "name": name,
                    "pwd": pwd,
                    "pwd2": pwd2,
                    "email": email
                },
                success: function (data) {
                    if (data.result == "repeat") {
                        alert("该用户名已存在")
                    }
                    if (data.success == "success") {
                        alert("注册成功")
                    }
                    if (data.result == "fail") {
                        alert("注册失败")
                    }
                },
                error: function () {
                    console.log("调用失败")
                }
            }
        )

    })
</script>
</body>
</html>